.switch {
    border-radius: 10px;
    border-color: green;
    background-color: green;
    /*width: 18%;
    height: 5%;
    max-height: 15%;
    max-width: 20%;*/
    width: 100%;
    height: 10%;
    text-decoration-line: none;
    text-decoration: none;
    text-align: right;
    margin: 10px;
    float: left;
}

.button {
    float: left;
    margin: 10px;
    background: transparent;
    border-style: none;
}

img {
    height: 60px;
    width: 60px;
    padding-top: 5%;
    border-style: none;
    border-width: 0px;
    vertical-align: middle; 
}

p {
    color: white;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 5%;
    text-overflow: clip;
}

table, td {
    padding: 10px;
    margin: 10px;
}

th{
    visibility: hidden;
}