.switch {
    border-radius: 10px;
    border-color: green;
    background-color: green;
    width: 30%;
    height: 15%;
    text-decoration-line: none;
    text-decoration: none;
    text-align: right;
}

.button {
    float: left;
    margin: 10px;
    background: transparent url(pfad/button.gif) 0 0 no-repeat;
    border-style: none;
}

img {
    height: 55px;
    width: 55px;
    padding-top: 10px;
    border-style: none;
    border-width: 0px;
}

p {
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-overflow: clip;
}
