.switch {
    border-radius: 10px;
    border-color: #228b22;
    background-color: #228b22;
    min-width: 150px;
    max-height: 350px;
    max-width: 400px;
    width: 20%;
    height: 100%;
    text-decoration-line: none;
    text-decoration: none;
    text-align: right;
    margin: 5px;
    float: left;
}

.button {
    margin: 10px;
    float: left;
    background: transparent;
    border-style: none;
    max-height: 10%;
    max-width: 50%;
}

.on{
    display: none;
}
.off{
    display: block;
}
img {
    min-height: 60px;
    min-width: 60px;
    max-height: 250px;
    max-height: 250px;
    height: 60%;
    width: 60%;
    padding-top: 5%;
    float: left;
    border-style: none;
    border-width: 0px;
    vertical-align: middle;
    margin: 10px;
}

p {
    color: white;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 5%;
    text-overflow: clip;
    font-size: 18px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0,7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10%;
  align-items: center;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 35px;
  background: darkslategray;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 35px;
  background: darkslategray;
  cursor: pointer;
  }

.slidervalue {
    margin: 15px;
    margin-bottom: 0px;
    font-size: 18px;
    float: left;
}
.aButton{
    margin: 10px;
    margin-right: 20px;
    float: right;
}